<div class="container">
  <form [formGroup]="searchForm" (submit)=lookup()>
    <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div id="custom-search-input">
                  <div class="input-group col-md-12">
                      <input type="text" class="form-control input-lg" placeholder="Enter domain for lookup" formControlName="domain"/>
                      <span class="input-group-btn">
                          <button class="btn btn-info btn-lg" type="submit" [disabled]="!searchForm.valid">
                              <i class="glyphicon glyphicon-search"></i>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
    </div>
  </form>

  <div class="container row">
    <app-loader *ngIf="processing" class="col-md-1 col-md-offset-5"></app-loader>
    <h2 class="col-md-6 col-md-offset-3" *ngIf="currentSource && !processing" style="margin-bottom: -25px">{{ currentSource }}</h2>
    <div class="col-md-6 col-md-offset-3" *ngIf="currentLookupResult?.count">
      <h3 class="count-headline">Total Documents: {{ currentLookupResult?.count }}</h3>
    </div>
    <div *ngFor="let pie of pies" class="row pie">
      <chart class="img img-responsive col-md-8 col-md-offset-2" [options]="pie.options"></chart>
    </div>
  </div>
</div>

